
.cm-dealmain,.m-deansr{
	border-bottom: 3px solid #dfdfdf;
	padding: 1.46vw 2.93vw;
}
.m-frmedt{
	padding: 0.245vw 0;
	border-bottom: 1px solid #dfdfdf;
}
.cm-frmeb p{
	padding:0 1.46vw;
}
.u-date{
	float: right;
}
.u-btucet{
	text-align: center;
	padding: 3px 0;
}


@media screen and (min-width:640px) {
	.cu-cidnav{
	width: 9.76vw;
}
.m-frmedt{
	height: 2.93vw;/*30*/
	}
	.m-frmedt p,.m-deansr p{
	line-height: 2.44vw;/*25*/
	font-size: 1.37vw;/*14*/
}
.cu-btn{
	width: 9.76vw;/*100*/
	height: 2.93vw;/*30*/
	font-size: 1.37vw;/*14*/
	line-height: 2.44vw;/*25*/
}
}
@media screen and (max-width:639px) {
	.cu-cidnav{
	width: 50vw;
}
	.m-frmedt{
	height: 22px;/*30*/
	}
	.m-frmedt p,.m-deansr p{
	line-height: 22px;/*25*/
	font-size: 14px;/*14*/
}
.cu-btn{
	width: 100px;/*100*/
	height: 30px;/*30*/
	font-size: 16px;/*14*/
	line-height: 24px;/*25*/
}
}




