$Fontsizeh1:14px;
$Fontsizeh2:12px;
$Fontsizep:11px;
$lineheight:1.5;
.cu-inxh1{
    font-size: $Fontsizeh1;
    line-height: $Fontsizeh1*1.5;
}
.u-only{
	font-size:$Fontsizeh2;
}
.cm-frtx {
	h2{
	font-size:$Fontsizeh2;
	line-height:$Fontsizeh2*1.5;
}
p{
	font-size:$Fontsizep;
	line-height:$Fontsizep*1.5;
}
}
